<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to "/", class: "navbar-brand" do %>
  <%= image_tag "wawritelogo2.png", alt: "logo" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse mx-auto order-0 jsc" id="navbarSupportedContent">

    <ul class="navbar-nav active mx-auto">
      <li class="nav-item active mx-auto">
        <%= link_to "Diary", "/tagged?tag=Diary", class: "nav-link" %>
      </li>
      <li class="nav-item active mx-auto">
        <%= link_to "Pen", "/tagged?tag=Pen", class: "nav-link" %>
      </li>
      <li class="nav-item active mx-auto">
        <%= link_to "Tape", "/tagged?tag=Tape", class: "nav-link" %>
      </li>
    </ul>
  </div>




      <% if user_signed_in? %>
      <ul class="navbar-nav ml-auto">
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <li class="nav-item active">
        <%= link_to "Cart", "#", class: "nav-link" %>
      </li>



      <li class="nav-item dropdown">
        <%= image_tag "wawriteavatar.png", alt: "avatar", class: "avatar-square dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    </div>
      <% else %>
      <li class="nav-item active">
        <%= link_to "Login", new_user_session_path, class: "nav-link login" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
